<div class="flex flex-col min-h-screen">
    <div class="flex flex-col justify-center items-center bg-primary text-white pt-32">
        <section class="py-16">
            <div class="container mx-auto text-center">
                <h1 class="text-4xl lg:text-6xl font-bold mb-4">Explore Your Ideal Ride</h1>
                <p class="text-lg lg:text-xl text-gray-300 mb-8">Discover and reserve the finest cars for your next
                    journey!</p>
                <div class="flex flex-col justify-center items-center max-w-full mx-auto">
                    <form [formGroup]="searchForm" (submit)="onSubmit()" class="flex flex-row sm:flex-row">

                        <!--PICKUP-->
                        <div class="w-full mx-2 mb-4 sm:mb-0">
                            <input type="text" [(ngModel)]="location" (input)="onInput($event)"
                                placeholder="Pickup Location" formControlName='pickupLoc'
                                class="w-full p-4 border
                                {{ searchForm.get('pickupLoc')?.invalid && 
                              (searchForm.get('pickupLoc')?.dirty || searchForm.get('pickupLoc')?.touched) 
                              ? 'border-red-400 animate-pulse placeholder-red-400' : 'border-gray-500' }}
                                tracking-wider font-bold placeholder:uppercase text-sm rounded-md bg-secondary text-gray-300 focus:outline-none">
                            <!-- <div *ngIf="predictions" class="mx-2 p-4 w-auto border z-50 fixed">
                                <ul>
                                        <li *ngFor="let prediction of predictions">
                                        {{ prediction.address_street}}
                                    </li>
                                </ul>
                            </div> -->
                            <div *ngIf="predictions" class="absolute mx-2 p-4 my-1 w-max z-50 bg-secondary backdrop-blur-sm bg-gray/90">
                                <ul>
                                  <li *ngFor="let prediction of predictions">
                                    <div class="flex flex-col items-start my-1">
                                      <span class="text-sm ">{{ prediction.address_street }}</span>
                                      <span class="text-xs font-bold text-gray-500 tracking-wider uppercase">{{ prediction.address_city }}, {{ prediction.address_state }}</span>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                        </div>

                        <!--DROPOFF-->
                        <div class="w-full mx-2 mb-4 sm:mb-0">
                            <input type="text" (input)="onInput($event)" formControlName='dropoffLoc'
                                placeholder="Dropoff Location"
                                class="w-full p-4 border
                                {{ searchForm.get('dropoffLoc')?.invalid && 
                                (searchForm.get('dropoffLoc')?.dirty || searchForm.get('dropoffLoc')?.touched) 
                              ? 'border-red-400 animate-pulse placeholder-red-400' : 'border-gray-500' }}
                                tracking-wider font-bold disabled:opacity-30 placeholder:uppercase text-sm rounded-md bg-secondary text-gray-300 focus:outline-none">
                            <mat-checkbox formControlName="intercity"><span
                                    class="text-xs font-bold uppercase tracking-wider text-gray-500 hidden sm:inline">Intercity?</span></mat-checkbox>
                        </div>

                        <!--PICKDATE-->
                        <div class="w-3/4 mx-2 mb-4 sm:mb-0">
                            <div class="flex flex-row border transition-all ease-in-out duration-300 
                            {{ searchForm.get('pickupDate')?.invalid && 
                              (searchForm.get('pickupDate')?.dirty || searchForm.get('pickupDate')?.touched) 
                              ? 'border-red-400 animate-pulse' : 'border-gray-500' }}
                            bg-secondary rounded-md bg-secondary text-gray-300">
                                <input matInput placeholder="Pickup Date" formControlName='pickupDate'
                                    [matDatepicker]="pickupPicker"
                                    class="w-full ml-1 p-4 
                                    {{ searchForm.get('pickupDate')?.invalid && 
                                    (searchForm.get('pickupDate')?.dirty || searchForm.get('pickupDate')?.touched) 
                                    ? 'placeholder-red-400' : '' }}
                                    bg-secondary font-bold placeholder:uppercase text-sm text-gray-300 focus:outline-none">
                                <mat-datepicker-toggle matIconSuffix [for]="pickupPicker"></mat-datepicker-toggle>
                                <mat-datepicker #pickupPicker></mat-datepicker>
                            </div>
                        </div>

                        <!--DROPDATE-->
                        <div class="w-3/4 mx-2 mb-4 sm:mb-0">
                            <div class="flex flex-row border transition-all ease-in-out duration-300 
                            {{ searchForm.get('dropoffDate')?.invalid && 
                              (searchForm.get('dropoffDate')?.dirty || searchForm.get('dropoffDate')?.touched) 
                              ? 'border-red-400 animate-pulse' : 'border-gray-500' }}
                              bg-secondary rounded-md bg-secondary text-gray-300">
                                <input matInput placeholder="Dropoff Date" formControlName='dropoffDate'
                                    [matDatepicker]="dropoffPicker"
                                    class="w-full ml-1 p-4 
                                    {{ searchForm.get('dropoffDate')?.invalid && 
                                    (searchForm.get('dropoffDate')?.dirty || searchForm.get('dropoffDate')?.touched) 
                                    ? 'placeholder-red-400' : '' }}
                                    bg-secondary font-bold placeholder:uppercase text-sm text-gray-300 focus:outline-none">
                                <mat-datepicker-toggle matIconSuffix [for]="dropoffPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dropoffPicker></mat-datepicker>
                            </div>
                        </div>
                        <div class="mx-2 mb-4 sm:mb-0">
                            <button [disabled]="!searchForm.valid" class="bg-emerald-600 
                                disabled:bg-secondary
                                disabled:text-gray-600
                                text-gray-100 px-3 py-4 rounded-lg
                                uppercase text-sm tracking-wider font-bold
                                enabled:hover:shadow-lg
                                enabled:hover:-translate-y-1
                                enabled:hover:shadow-emerald-600/10
                                enabled:hover:text-gray-200 
                                enabled:hover:bg-emerald-500 transition-all duration-300 ease-in-out">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <router-outlet></router-outlet>