/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel {
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: 0 !important;
}
.mat-expansion-panel-body {
    padding: 0 !important;
    margin: 0 !important;
}

.mat-expansion-panel-header:hover {
    background-color: inherit !important; /* or set it to the desired background color */
}

.mat-bottom-sheet-container {
    padding: 0 !important;
    border-radius: 0 !important;
}
.mat-accordion .mat-expansion-panel{
    margin-bottom: 15px;
}
.mat-mdc-snack-bar-label{
    padding: 0 !important;
}

.mdc-snackbar__surface {
    padding: 0 !important;
}