<div class="bg-primary py-8">
    <div class="container mx-auto px-4">
        <h1 class="text-4xl font-bold text-gray-200">Your Profile</h1>
        <h1 class="text-sm font-bold tracking-wider uppercase text-emerald-500 mb-4 mt-2">You can edit your profile here!</h1>
        <div class="grid grid-cols-3 gap-8">
            <!-- ################## PROFILE CARD ####################-->
            <div class="bg-secondary sticky w-full col-span-1 rounded-lg shadow shadow-2xl">
                <div class="grid grid-cols-1 gap-8">
                    <div class="m-10 flex flex-col items-center">
                        <div class="rounded-full shadow-xl shadow-emerald-500/20 border border-emerald-500 
                                    w-3/4 p-20 bg-secondary text-emerald-400
                                    text-center flex items-center justify-center text-9xl font-light">
                                    {{ staticInfo.first_name?.slice(0, 1)}}{{ staticInfo.last_name?.slice(0, 1)}}</div>
                        <!-- <img class="bg-gray-200 rounded-full shadow-xl w-3/4 p-4" src="assets/ava.png"
                            alt="Profile Image"> -->
                        <h1 *ngIf='staticInfo.last_name.length <= 7' class="text-3xl text-gray-300 uppercase font-bold pt-5">
                            {{staticInfo.first_name}} {{staticInfo.last_name}}
                        </h1>
                        <h1 *ngIf='staticInfo.last_name.length > 7' class="text-2xl text-gray-300 uppercase font-bold pt-5">
                            {{staticInfo.first_name}} {{staticInfo.last_name}}
                        </h1>
                        <h1 class="text-lg italic text-emerald-500">
                            {{staticInfo.email}}
                        </h1>
                        <h1 *ngIf = 'staticInfo.user_type == "I"' class="text-xs uppercase font-bold tracking-widest text-gray-400 pt-1">
                            Individual
                        </h1>
                        <h1 *ngIf = 'staticInfo.user_type == "C"' class="text-xs uppercase font-bold tracking-widest text-gray-400 pt-1">
                            Corporate
                        </h1>
                        <div class="grid grid-cols-1 gap-1">
                            <button (click)='openUpdatePassword()' class="mt-5 px-3 py-2 bg-emerald-700 tracking-wider text-xs uppercase font-bold text-gray-100 w-full rounded-md hover:shadow-lg 
                                    hover:shadow-emerald-600/10 hover:bg-emerald-500 transition-all 
                                    duration-300 ease-in-out">
                                Update Password
                            </button>
                            <button (click)='openAddCard()' class="mt-5 px-3 py-2 bg-emerald-700 tracking-wider text-xs uppercase font-bold text-gray-100 w-full rounded-md hover:shadow-lg 
                                    hover:shadow-emerald-600/10 hover:bg-emerald-500 transition-all 
                                    duration-300 ease-in-out">
                                Add Card
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ################## RIGHT CARD ####################-->
            <div class="w-full col-span-2 rounded-lg">
                <div class="grid grid-cols-1 gap-8">

                    <!-- ################## INFO CARD ####################-->
                    <form id="information" [formGroup]="basicInfoForm" (submit) = 'updateBasicInfo()'
                        class="rounded-lg py-8 bg-secondary shadow shadow-2xl flex flex-row items-center">
                        <div class="w-1/6 h-full flex flex-col items-center justify-center">
                            <div>
                                <span><i class="fa-solid fa-house fa-2xl" style="color: #a4a9b2;"></i></span>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-x-4 gap-y-4">
                            <div class="col-span-2">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">Street</h1>
                                <input
                                    class="w-full text-sm font-bold tracking-wide text-gray-300 focus:outline-none focus:border-b-1 bg-secondary placeholder:font-bold"
                                    placeholder="Your Address Street" formControlName='address_street'>
                            </div>
                            <div class="">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">City</h1>
                                <input
                                    class="text-sm font-bold tracking-wide text-gray-300 bg-secondary focus:outline-none placeholder:font-bold"
                                    placeholder="Your City" formControlName='address_city'>
                            </div>
                            <div class="">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">State</h1>
                                <input
                                    class="text-sm font-bold tracking-wide text-gray-300 bg-secondary focus:outline-none placeholder:font-bold"
                                    placeholder="Your State" formControlName='address_state'>
                            </div>
                            <div class="">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">Zipcode</h1>
                                <input
                                    class="text-sm font-bold tracking-wide text-gray-300 bg-secondary focus:outline-none placeholder:font-bold"
                                    placeholder="Your Zipcode" formControlName='address_zipcode'>
                            </div>
                            <div class="">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">Phone</h1>
                                <input
                                    class="text-sm font-bold tracking-wide text-gray-300 bg-secondary focus:outline-none placeholder:font-bold"
                                    placeholder="Your Zipcode" formControlName='phone'>
                            </div>
                            <div>
                                <button class="mt-2 px-3 py-2 bg-emerald-800 tracking-wider text-xs uppercase font-bold text-gray-100 w-full rounded-md hover:shadow-lg 
                                hover:shadow-emerald-500/10 hover:bg-emerald-500 transition-all 
                                duration-300 ease-in-out">Update Basic Info</button>
                            </div>
                        </div>
                    </form>

                    <!-- ################## EMPLOYEE CARD ####################-->
                    <form *ngIf = 'staticInfo.user_type == "C"' id="employee" [formGroup]="corpInfoForm" (submit) = 'updateCorporateInfo()'
                        class="rounded-lg py-8 bg-secondary shadow shadow-2xl flex flex-row items-center">
                        <div class="w-1/6 h-full flex flex-col items-center justify-center">
                            <div matBadge="!" [matBadgeHidden]="this.metadata.is_profile_complete" matBadgeColor="warn">
                                <span><i class="fa-solid fa-briefcase fa-2xl" style="color: #c4cad4;"></i></span>
                            </div>
                        </div>
                        <div class="grid grid-cols-4 gap-x-2 gap-y-4">
                            <div class="col-span-2">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">Company</h1>
                                <p class="w-full text-sm pt-1 font-bold tracking-wide text-gray-300 bg-secondary focus:outline-none placeholder:font-bold">{{metadata.corporation[0].name}}</p>
                            </div>
                            <div class="">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">Company Reg No.</h1>
                                <p class="text-sm pt-1 font-bold tracking-wide text-gray-300 bg-secondary focus:outline-none placeholder:font-bold">{{metadata.corporation[0].registration_number}}</p>
                            </div>
                            <div class="">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">Employee No.</h1>
                                <input
                                    class="text-sm font-bold tracking-wide text-gray-300 bg-secondary focus:outline-none placeholder:font-bold"
                                    placeholder="Your Employee ID" formControlName='emp_id'>
                            </div>
                            <div>
                                <button class="mt-2 px-3 py-2 bg-emerald-800 tracking-wider text-xs uppercase font-bold text-gray-100 w-full rounded-md hover:shadow-lg 
                                hover:shadow-emerald-500/10 hover:bg-emerald-500 transition-all 
                                duration-300 ease-in-out">Update Corporate Info</button>
                            </div>
                        </div>
                    </form>

                    <!-- ################## INDIVIDUAL CARD ####################-->
                    <form *ngIf = 'staticInfo.user_type == "I"' id="employee" [formGroup]="persInfoForm"
                    (submit) = 'updatePersonalInfo()' class="rounded-lg py-8 bg-secondary shadow shadow-2xl flex flex-row items-center">
                        <div class="w-1/6 h-full flex flex-col items-center justify-center">
                            <div matBadge="!" [matBadgeHidden]="this.metadata.is_profile_complete" matBadgeColor="warn"> 
                                <span><i class="fa-solid fa-hospital fa-2xl" style="color: #a8acb3;"></i></span>
                            </div>
                        </div>
                        <div class="grid grid-cols-4 gap-x-2 gap-y-4">
                            <div class="col-span-2">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">Insurance Company</h1>
                                <input
                                    class="w-full font-bold tracking-wide text-sm text-gray-300 bg-secondary focus:outline-none placeholder:font-bold"
                                    placeholder="Your Insurance Company" formControlName='insurance_company'>
                            </div>
                            <div class="">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">Policy No.</h1>
                                <input
                                    class="text-sm font-bold tracking-wide text-gray-300 bg-secondary focus:outline-none placeholder:font-bold"
                                    placeholder="Policy No." formControlName='insurance_policy_no'>
                            </div>
                            <div class="">
                                <h1 class="text-emerald-500 uppercase text-sm font-bold">DL No.</h1>
                                <input
                                    class="text-sm font-bold tracking-wide text-gray-300 bg-secondary focus:outline-none placeholder:font-bold"
                                    placeholder="DL Number" formControlName='dl_number'>
                            </div>
                            <div>
                                <button class="mt-2 px-3 py-2 bg-emerald-800 tracking-wider text-xs uppercase font-bold text-gray-100 w-full rounded-md hover:shadow-lg 
                                hover:shadow-emerald-500/10 hover:bg-emerald-500 transition-all 
                                duration-300 ease-in-out">Update Insurance Info</button>
                            </div>
                        </div>
                    </form>

                    <!-- ################## PAYMENT CARD ####################-->
                    <mat-accordion>
                        <mat-expansion-panel hideToggle >
                            <mat-expansion-panel-header class="bg-primary">
                                <h1 *ngIf = 'paymentData.length !=0'class="text-emerald-500 uppercase text-sm font-bold 
                                        hover:text-emerald-400 transition-all hover:shadow-2xl">
                                    Your Payment Options</h1>
                                <h1 *ngIf = 'paymentData.length == 0' class="text-red-400 uppercase text-sm font-bold 
                                    hover:text-red-500 transition-all hover:shadow-2xl">
                                Your Payment Options (Required)</h1>
                            </mat-expansion-panel-header>

                            <!-- This is the column that shows the card-->
                            <div id="payment"
                                class="rounded-md pt-8 pb-8 bg-secondary shadow shadow-2xl flex flex-row items-center">
                                <div class="w-1/6 h-full flex flex-col items-center justify-center">
                                    <div matBadge="!" [matBadgeHidden]="paymentData.length !=0" matBadgeColor="warn">
                                        <span><i class="fa-solid fa-credit-card fa-2xl"
                                                style="color: #b6bbc3;"></i></span>
                                    </div>
                                </div>
                                <div class="w-5/6 grid grid-cols-1 gap-x-4 gap-y-10">
                                    <!--#### REPEATING CARD DETAILS ########-->
                                    <div *ngIf = 'paymentData.length != 0'>
                                        <div *ngFor="let card of paymentData" class="pb-2 grid grid-cols-7 gap-x-3 gap-y-4">
                                            <div class="col-span-2">
                                                <h1 class="text-emerald-500 uppercase text-xs font-bold">Card Number</h1>
                                                <p class="w-full py-1 tracking-wider font-bold text-xs text-gray-300 bg-secondary placeholder:font-bold">{{card.card_number}}</p>
                                            </div>
                                            <div class="col-span-2">
                                                <h1 class="text-emerald-500 uppercase text-xs font-bold">Name on Card</h1>
                                                <p class="w-full py-1 tracking-wider font-bold text-xs text-gray-300 bg-secondary placeholder:font-bold">{{card.card_name}}</p>
                                            </div>
                                            <div class="">
                                                <h1 class="text-emerald-500 uppercase text-xs font-bold">Type</h1>
                                                <p *ngIf = 'card.payment_method === "D"' class="w-full text-xs py-1 text-gray-300 bg-secondary font-bold">Debit</p>
                                                <p *ngIf = 'card.payment_method === "G"' class="w-full text-xs py-1 text-gray-300 bg-secondary font-bold">Gift</p>
                                                <p *ngIf = 'card.payment_method === "C"' class="w-full text-xs py-1 text-gray-300 bg-secondary font-bold">Credit</p>
                                            </div>
                                            <div class="">
                                                <h1 class="text-emerald-500 uppercase text-xs font-bold">Exp Date</h1>
                                                <p class="w-full text-xs py-1 text-gray-300 bg-secondary font-bold">{{card.card_exp_date}}</p>
                                            </div>
                                            <div class="h-full flex flex-col items-center justify-center">
                                                <div>
                                                    <button (click) = "deletePayment(card.payment_id)"
                                                        class="transition-all rounded-full hover:bg-red-400 hover:bg-opacity-20 px-2 py-1"><i
                                                            class="fa-solid fa-trash" style="color: #cf7277;"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf = '!paymentData.length' class="flex flex-col items-start justify-evenly pb-4">
                                        <div class="uppercase tracking-widest font-bold text-gray-500 text-xs">
                                            Looks like you are broke!
                                        </div>
                                        <div>
                                            <button (click)='openAddCard()' class="mt-2 px-3 py-2 bg-emerald-800 tracking-wider text-xs uppercase font-bold text-gray-100 w-full rounded-md hover:shadow-lg 
                                            hover:shadow-emerald-500/10 hover:bg-emerald-500 transition-all 
                                            duration-300 ease-in-out">Add Card</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>