<div class="w-full mb-8 flex flex-col shadow shadow-xl ">
    <div class="bg-secondary py-3 flex flex-row">
        <div class="p-2 w-1/4 col-span-1 flex flex-col items-center justify-center">
            <h1 class="font-bold tracking-wider uppercase text-xs text-gray-400">Order Number</h1>
            <p class="mt-1 text-gray-200 text-sm">{{orderData.booking_id}}</p>
        </div>
        <div class="p-2 w-2/4 col-span-1 flex flex-row items-center justify-between">
            <div>
                <div class="text-emerald-500 uppercase text-sm tracking-wider font-bold">{{orderData.vehicle_id.make}}</div>
                <div class="text-gray-200 font-bold text-xl tracking-wider">{{orderData.vehicle_id.model}} {{orderData.vehicle_id.make_year | slice:0:4}}</div>
                <div class="text-emerald-500 text-sm">{{orderData.vehicle_id.class_id.vehicle_class}}</div>
            </div>
            <div class="text-end">
                <div class="text-gray-500 uppercase text-sm tracking-wider font-bold">Pickup At:</div>
                <div class="text-gray-300 text-sm tracking-wider font-bold">{{orderData.pickup_location.address_street}}</div>
                <div class="text-gray-300 text-sm tracking-wider font-bold">{{orderData.pickup_location.address_city}}</div>
                <div class="text-gray-300 text-sm tracking-wider font-bold">{{orderData.pickup_location.address_state}} - {{orderData.pickup_location.address_zipcode}}</div>
            </div>
        </div>
        <div class="p-2 w-1/4 col-span-1 flex flex-col items-center justify-evenly">
            <p class="text-gray-500 text-xs uppercase tracking-wider font-bold">Scheduled: 
                <span class="text-gray-300 text-xs tracking-wider font-bold">{{orderData.pickup_date}}</span>
            </p>
            <button (click) ="startRide()" class="mx-4 px-4 py-2 text-gray-200
                           rounded-lg text-xs uppercase font-bold bg-secondary tracking-wider
                           hover:bg-emerald-800 transition-all duration-300 ease-in-out shadow-lg border-2 border-emerald-500 shadow-emerald-500/10">Start Ride</button>
        </div>
    </div>
</div>