<mat-progress-bar *ngIf = 'loading' color='accent' mode="query"></mat-progress-bar>
<div class="bg-secondary container p-8">
  <h1 class="font-bold text-emerald-500 text-2xl mb-5 ">
    Add Card <span><i class="px-2 fa-solid fa-credit-card" style="color: #10b981;"></i></span>
  </h1>
  <form [formGroup]="addPaymentForm" (submit) = 'addPayment()' class="grid grid-cols-4 gap-x-8 gap-y-2 mb-2">
    <div class="col-start-1">
      <h2 class="text-xs tracking-widest p-2 text-gray-400 uppercase font-bold">
        Card Type
      </h2>
      <mat-select class="w-full px-4 py-2 rounded-lg font-medium 
      {{ addPaymentForm.get('payment_method')?.invalid && submitted ? 'border-red-200 animate-pulse placeholder-red-400' : 'border-gray-500' }}   
        bg-primary border border-gray-500 placeholder-gray-400 text-xs text-gray-200 focus:border-emerald-400" formControlName='payment_method'>
        <mat-option value="D">Debit Card</mat-option>
        <mat-option value="C">Credit Card</mat-option>
        <mat-option value="G">Gift Card</mat-option>
      </mat-select>
    </div>
    <div class="col-start-1 col-span-2">
      <h2 class="text-xs tracking-widest p-2 text-gray-400 uppercase font-bold">
        Card No.
      </h2>
      <input type="text" placeholder="Card No" class="w-full px-4 py-3 rounded-lg font-medium bg-primary border border-gray-500 
          {{ addPaymentForm.get('card_number')?.invalid && submitted ? 'border-red-200 animate-pulse placeholder-red-400' : 'border-gray-500' }}
              placeholder-gray-500 text-sm text-gray-200 focus:outline-none focus:border-emerald-400" formControlName='card_number'>
    </div>
    <div class="w-full col-span-2">
      <h2 class="text-xs tracking-widest p-2 text-gray-400 uppercase font-bold">
        Name on Card
      </h2>
      <input type="text" placeholder="Name on Card" class="w-full px-4 py-3 rounded-lg 
            {{ addPaymentForm.get('card_name')?.invalid && submitted ? 'border-red-200 animate-pulse placeholder-red-400' : 'border-gray-500' }} 
              font-medium bg-primary border border-gray-500 
              placeholder-gray-500 text-sm text-gray-200 focus:outline-none focus:border-emerald-400" formControlName='card_name'>
    </div>
    <div class="w-full col-start-1 col-end-2">
      <h2 class="text-xs tracking-widest p-2 text-gray-400 uppercase font-bold">
        Valid To
      </h2>
      <input type="month" placeholder="Name on Card" class="w-full px-4 py-3 
              {{ addPaymentForm.get('card_exp_date')?.invalid && submitted ? 'border-red-200 animate-pulse placeholder-red-400' : 'border-gray-500' }} 
              rounded-lg font-medium bg-primary border border-gray-500 
              placeholder-gray-500 text-sm text-gray-200 focus:outline-none focus:border-emerald-400" formControlName='card_exp_date'>
    </div>
    <div class="w-full col-start-2 col-end-3">
      <h2 class="text-xs tracking-widest p-2 text-gray-400 uppercase font-bold">
        CVV/CVC
      </h2>
      <input type="text" placeholder="CVV/CVC" class="w-full px-4 py-3 rounded-lg font-medium bg-primary border border-gray-500 
              placeholder-gray-500 text-sm text-gray-200 focus:outline-none focus:border-emerald-400">
    </div>
    <div class="w-full col-start-3 col-end-4">
      <h2 class="text-xs tracking-widest p-2 text-gray-400 uppercase font-bold">
        Zipcode
      </h2>
      <input type="text" placeholder="Zipcode" class="w-full px-4 py-3 
              {{ addPaymentForm.get('card_zipcode')?.invalid && submitted ? 'border-red-200 animate-pulse placeholder-red-400' : 'border-gray-500' }} 
              rounded-lg font-medium bg-primary border border-gray-500 
              placeholder-gray-500 text-sm text-gray-200 focus:outline-none focus:border-emerald-400" formControlName='card_zipcode'>
    </div>
    <div class="w-full col-start-1 col-end-2">
      <button
        class="mt-5 tracking-wide text-xs uppercase font-semibold bg-emerald-700 text-gray-100 w-3/4 py-2 rounded-lg hover:shadow-lg hover:shadow-emerald-600/10 hover:bg-emerald-500 transition-all duration-300 ease-in-out">
        Add new Card
      </button>
    </div>
  </form>
</div>