<div class="bg-primary py-8">
  <div class="container mx-auto px-4 flex flex-col items-center">
    <h1 class="text-4xl font-semibold mb-4 text-gray-200">Shopping Cart</h1>
    <div class="w-full grid grid-cols-3 gap-8">
      <div class="col-span-2">
        <div class="bg-secondary rounded-lg shadow-md p-9 mb-4">
          <div>
            <!-- ////////////////////////////// INFO DETAILS //////////////////////////////////// -->
            <div class="billing mx-2">
              <h1 class="text-3xl font-medium text-gray-200">
                Billing Information
              </h1>
              <h2 class="text-sm text-emerald-300 mb-4">
                Your Profile Details are here.
              </h2>
              <div class="grid grid-cols-6 gap-x-8 gap-y-6 mb-8">
                <div class="w-full col-span-2">
                  <h2 class="tracking-widest text-xs uppercase px-2 font-bold text-gray-400">
                    Customer Name
                  </h2>
                  <h2 class="text-lg px-2 text-gray-200">
                    {{user.first_name}} {{user.last_name}}
                  </h2>
                  <h2 class="text-sm px-2 text-gray-200">
                    {{user.email}}
                  </h2>
                </div>
                <div class="w-full col-span-2">
                  <h2 class="tracking-widest text-xs uppercase px-2 font-bold text-gray-400">
                    Billing Address
                  </h2>
                  <h2 class="text-lg px-2 text-gray-200">
                    {{user.address_street}}
                  </h2>
                  <h2 class="text-sm px-2 text-gray-200">
                    {{user.address_city}}, {{user.address_state}} - {{user.address_zipcode}}
                  </h2>
                </div>
                <div class="w-full col-span-2">
                  <h2 class="tracking-widest text-xs uppercase px-2 font-bold text-gray-400">
                    Primary Contact
                  </h2>
                  <h2 class="text-md px-2 text-gray-200">
                    +1 {{user.phone}}
                  </h2>
                </div>
                <div class="w-full col-span-2">
                  <h2 class="tracking-widest text-xs uppercase px-2 font-bold text-gray-400">
                    License Registered
                  </h2>
                  <h2 class="text-sm px-2 text-gray-200">
                    {{metadata.individual_customer[0].dl_number}}
                  </h2>
                </div>
                <div class="w-full col-span-2">
                  <h2 class="text-xs tracking-widest uppercase px-2 font-bold text-gray-400">
                    Employee Information
                  </h2>
                  <h2 class="text-md px-2 text-gray-200">
                    Some Commpany
                  </h2>
                  <h2 class="text-sm px-2 text-gray-200">
                    Reg No: 159102115
                  </h2>
                </div>
              </div>
            </div>
            <hr class="mx-2">
            <!-- ////////////////////////////// COUPON DETAILS //////////////////////////////////// -->
            <div class="billing mt-8 mx-2">
              <h1 class="text-3xl font-bold text-gray-200">
                Offers and Promotions
              </h1>
              <h2 class="text-sm text-emerald-300 mb-4">
                Do you have any coupons from us?
              </h2>
              <div class="grid grid-cols-1 gap-x-8 gap-y-2 mb-8">
                <div class="w-1/2 col-span-2">
                  <h2 class="text-xs tracking-widest p-2 text-gray-400 uppercase font-bold">
                    Coupon Code
                  </h2>
                  <input type="text" placeholder="Code" class="w-full px-4 py-3 rounded-lg font-medium bg-primary border border-gray-500 
                    placeholder-gray-500 text-sm text-gray-200 focus:outline-none focus:border-emerald-400">
                  <button (click) = "validateCoupon()"
                    class="mt-4 disabled:bg-emerald-800 disabled:text-gray-400 shadow-2xl bg-emerald-600 text-white px-5 py-2 rounded-lg">Validate</button>
                  <i *ngIf = 'success' class="animate-pulse mx-4 fa-solid fa-circle-check fa-lg" style="color: #72da7e;"></i>
                </div>
              </div>
            </div>
            <hr class="mx-2">
            <!-- ////////////////////////////// CARD DETAILS //////////////////////////////////// -->
            <div class="billing mt-8 mx-2">
              <h1 class="text-3xl font-medium text-gray-200">
                Payment Details
              </h1>
              <h2 class="text-sm text-emerald-300 mb-1">
                Please choose your default payment method
              </h2>
              <h2 class="text-sm italic text-gray-500 mb-4">
                *You can add/remove your options before finishing your ride
              </h2>
              <div *ngIf='!paymentData.length' class="flex flex-col my-8 items-start justify-evenly pb-4">
                <div class="uppercase tracking-widest font-bold text-gray-500 text-xs">
                  Looks like you are missing something! <i class="fa-solid fa-circle-exclamation fa-bounce fa-xl"
                    style="color: #d06262;"></i> <br>
                </div>
                <div>
                  <button (click)='openAddCard()' class="mt-2 px-3 py-2 bg-emerald-800 tracking-wider text-xs uppercase font-bold text-gray-100 w-full rounded-md hover:shadow-lg 
                  hover:shadow-emerald-500/10 hover:bg-emerald-500 transition-all 
                  duration-300 ease-in-out">Add a Card</button>
                </div>
              </div>
              <div *ngIf='paymentData.length != 0'>
                <div *ngFor="let card of paymentData" class="shadow-lg rounded-md grid grid-cols-7 gap-x-1 gap-y-9 mb-1">
                  <div class="col-span-3 flex flex-row items-center">
                    <div class="mx-8">
                      <h1 *ngIf='card.payment_method === "D"' class="text-emerald-500 uppercase text-sm font-bold">Debit
                        Card</h1>
                      <h1 *ngIf='card.payment_method === "G"' class="text-emerald-500 uppercase text-md font-bold">Gift
                        Card</h1>
                      <h1 *ngIf='card.payment_method === "C"' class="text-emerald-500 uppercase text-md font-bold">
                        Credit Card</h1>
                    </div>
                  </div>
                  <div class="col-span-3">
                    <div class="flex flex-row items-center">
                      <span class="px-8 py-5">
                          <i *ngIf='card.payment_method === "D" || card.payment_method === "C"' class="fa-solid fa-credit-card fa-2xl" style="color: #696c70;"></i>
                          <i *ngIf='card.payment_method === "G"' class="fa-solid fa-gift fa-2xl" style="color:#696c70;"></i>
                      </span>

                      <div class="flex flex-col items-center">
                        <h1
                          class="w-full tracking-wider font-bold uppercase text-sm text-gray-500 bg-secondary placeholder:font-bold">
                          Ending in {{card.card_number}}</h1>
                        <h1
                          class="w-full tracking-widest font-bold uppercase text-xs text-gray-300 bg-secondary placeholder:font-bold">
                          Exp. {{card.card_exp_date}}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-row items-center">
                    <mat-checkbox (change) = 'onCheckboxChange(card.payment_id)'></mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- This is the right side column-->
        <div class="bg-secondary rounded-lg shadow-2xl shadow-emerald-500/30 border-4 border-emerald-700 p-6">
          <h2 class="text-lg font-semibold text-gray-200">Your Booking Summary</h2>
          <h2 class="text-sm text-emerald-300 mb-4">Please revise your boooking details here</h2>
          <hr class="my-2">
          <h2 class="text-lg text-emerald-500">{{selectedCarData.make}}</h2>
          <h2 class="text-2xl font-semibold text-gray-200">{{selectedCarData.model}} {{selectedCarData.make_year | slice:0:4}}</h2>
          <h2 class="text-sm text-gray-200 mb-2">{{selectedCarData.class_id.vehicle_class}}</h2>
          <span *ngFor="let tag of selectedCarData.tags"
            class="bg-teal-300 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">{{tag}}</span>
          <hr class="my-4">
          <div class="flex justify-between mb-2">
            <span class="font-bold text-sm uppercase tracking-wider text-gray-400">Pickup</span>
            <span *ngIf="searchDetails != undefined" class="text-sm font-bold tracking-wide text-gray-200">{{searchDetails.pickupLocData.address_street}}, 
              {{searchDetails.pickupLocData.address_city}}, {{searchDetails.pickupLocData.address_state}} - {{searchDetails.pickupLocData.address_zipcode}}</span>
          </div>
          <div *ngIf='searchDetails != undefined && searchDetails.dropoffLocData == undefined' class="flex justify-between mb-4">
            <span class="font-bold text-sm uppercase tracking-wider text-emerald-400 mt-2">Intercity Booking</span>
          </div>
          <div *ngIf='searchDetails != undefined && searchDetails.dropoffLocData != undefined' class="flex justify-between mb-4">
            <span class="font-bold text-sm uppercase tracking-wider text-gray-400">Dropoff</span>
            <span *ngIf="searchDetails" class="text-sm font-bold tracking-wide text-gray-200">{{searchDetails.dropoffLocData.address_street}}, 
                {{searchDetails.dropoffLocData.address_city}}, {{searchDetails.dropoffLocData.address_state}} - {{searchDetails.dropoffLocData.address_zipcode}}</span>
          </div>
          <div class="flex justify-between mb-4">
            <span>
              <div>
                <h1 class="font-bold text-sm uppercase tracking-wider text-gray-400">Pickup Date</h1>
                <p *ngIf="searchDetails" class="text-sm font-bold tracking-wide text-gray-200">{{searchDetails.pickup_date}}</p>
              </div>
            </span>
            <span>
              <div class="text-end">
                <h1 class="font-bold text-sm uppercase tracking-wider text-gray-400">Dropff Date (Exp)</h1>
                <p *ngIf="searchDetails" class="text-sm font-bold tracking-wide text-gray-200">{{searchDetails.dropoff_date}}</p>
              </div>
            </span>
          </div>
          <div class="flex justify-between text-gray-200">
            <span class="font-bold text-sm uppercase tracking-wider text-gray-400">Vehicle Rate</span>
            <span>${{selectedCarData.class_id.rent_charge}}/day</span>
          </div>
          <div class="flex justify-between text-gray-200">
            <span class="font-bold text-sm uppercase tracking-wider text-gray-400">Subtotal</span>
            <span>${{pricing.subtotal | number: '1.2-2'}}</span>
          </div>
          <div class="flex justify-between mb-1 text-gray-200">
            <span class="font-bold text-sm uppercase tracking-wider text-gray-400">Taxes</span>
            <span>$1.99</span>
          </div>
          <div *ngIf = "pricing.coupon != null" class="flex justify-between mb-2 text-gray-200">
            <span class="text-red-300">Discount</span>
            <span class="text-red-300">-${{pricing.coupon | number: '1.2-2'}}</span>
          </div>
          <hr class="my-2">
          <div class="flex justify-between mb-2 text-gray-200">
            <span class="font-bold text-sm uppercase tracking-wider text-gray-400">Estimated Total</span>
            <span class="font-semibold tracking-wider">${{pricing.finalPrice | number: '1.2-2'}}</span>
          </div>
          <button (click)="openConfirmOrder()"
            class="bg-emerald-500 text-white py-2 px-4 rounded-lg mt-4 w-full hover:bg-emerald-600">Confirm
            Order</button>
        </div>
      </div>
    </div>
  </div>
</div>