<div id="about" class="flex bg-primary justify-center pt-8">
  <div class="bg-primary w-4/5 grid grid-cols-2 gap-y-20">
    <div class="flex items-center max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-right">
        <h2 class="text-base font-semibold leading-7 text-emerald-600">Classic Collection</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Timeless Rides, Every Brand, Every
          Car.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-400">Explore the essence of driving excellence with our Classic
          Collection car rentals. Our fleet offers a curated selection from every top brand, ensuring a memorable ride
          in the latest state-of-the-art models. Your journey, your style.</p>
      </div>
    </div>
    <div class="w-full mx-auto max-w-7xl px-6 lg:px-8">
      <img class="shadow-2xl shadow-emerald-500/10 object-cover rounded-2xl" src="assets/feature/collection2.jpg" />
    </div>
    <div class="w-full mx-auto max-w-7xl px-6 lg:px-8">
      <img class="object-cover rounded-2xl" src="assets/feature/merc.jpg" />
    </div>
    <div class="flex items-center max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-left">
        <h2 class="text-base font-semibold leading-7 text-emerald-600">Seamless Business Travel Experiences</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Efficiency Redefined for the Modern
          Professional.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-400">Elevate your business travel with our tailored solutions. Enjoy
          a seamless experience with our executive fleet and personalized services designed to meet the demands of the
          modern professional.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary pt-36">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-emerald-600">You need vehicles? We got 'em.</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Discover Our Diverse Fleet.
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-400">Experience travel without the hassle. Our commitment to simplicity
        begins with a registration process that's as easy as it gets. At our outlets, our dedicated agents ensure a
        seamless start to your journey, making registration a breeze. Less paperwork, more exploration—your adventure
        begins with ease</p>
    </div>
    <!--  -->
    <div class="w-full mx-auto max-w-7xl px-6 lg:px-8 py-12">
      <img class="shadow-2xl shadow-emerald-500/10 object-cover rounded-2xl" src="assets/feature/fleet.jpg" />
    </div>
  </div>
</div>

<div class="bg-primary pb-12 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-emerald-600">Customer Stories & Rave Reviews</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">We Make Stories!
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-400">Join the chorus of delighted travelers who 
        have experienced seamless adventures with our company. 
        Read firsthand testimonials from satisfied customers who found comfort, reliability, and joy in every mile. 
        Your journey begins with their stories—real experiences, real testimonials.</p>
    </div>
    <!--  -->
    <!-- Container for demo purpose -->
    <div class="container my-24 mx-auto md:px-6">
      <section class="mb-32 text-center">
        <div class="grid gap-x-6 md:grid-cols-3 lg:gap-x-12">
          <div class="mb-12 md:mb-0">
            <div class="mb-6 flex justify-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).jpg"
                class="w-40 rounded-full shadow-lg shadow-emerald-500/20" />
            </div>
            <h5 class="mb-1 text-xl font-bold text-gray-300">Maria Smantha</h5>
            <h6 class="mb-4 font-medium text-emerald-400">
              Marketing Specialist
            </h6>
            <p class="mb-4 text-gray-400">
              Our family road trip was a huge success, all thanks to 
              <span class="italic text-emerald-400">WOW Rentals</span> 
              The spacious SUV we rented provided comfort and safety for our little ones, 
              and the online booking made it incredibly convenient. 
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="inline-block w-6">
                <path fill="currentColor"
                  d="M580 556h160V396H580v160Zm-360 0h160V396H220v160Zm406 220 80-160H520V336h280v288l-76 152h-98Zm-360 0 80-160H160V336h280v288l-76 152h-98Zm34-300Zm360 0Z" />
              </svg>
            </p>
            <ul class="mb-0 flex justify-center">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m480 757 157 95-42-178 138-120-182-16-71-168v387ZM233 976l65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
            </ul>
          </div>
          <div class="mb-12 md:mb-0">
            <div class="mb-6 flex justify-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).jpg"
                class="w-40 rounded-full shadow-lg shadow-emerald-500/20" />
            </div>
            <h5 class="mb-1 text-xl font-bold text-gray-300">Lisa Cudrow</h5>
            <h6 class="mb-4 font-medium text-emerald-400">
              Fashion Designer
            </h6>
            <p class="mb-4 text-gray-400">
              We appreciate <span class="italic text-emerald-400">WOW Rental's</span> commitment to sustainability. 
              The eco-friendly options in the fleet align perfectly with our values. 
              It's refreshing to see a car rental service that cares about the environment. Kudos!
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="inline-block w-6">
                <path fill="currentColor"
                  d="M580 556h160V396H580v160Zm-360 0h160V396H220v160Zm406 220 80-160H520V336h280v288l-76 152h-98Zm-360 0 80-160H160V336h280v288l-76 152h-98Zm34-300Zm360 0Z" />
              </svg>
            </p>
            <ul class="mb-0 flex justify-center">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
            </ul>
          </div>
          <div class="mb-0">
            <div class="mb-6 flex justify-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).jpg"
                class="w-40 rounded-full shadow-lg shadow-emerald-500/20" />
            </div>
            <h5 class="mb-1 text-xl font-bold text-gray-300">Maria Smantha</h5>
            <h6 class="mb-4 font-medium text-emerald-400">
              Web Developer
            </h6>
            <p class="mb-4 text-gray-400">
              As a frequent traveler for business, I've tried various car rental services, and <span class="italic text-emerald-400">WOW Rentals</span> stands out. 
              The selection of vehicles, coupled with the seamless booking process, 
              makes it my go-to choice.
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="inline-block w-6">
                <path fill="currentColor"
                  d="M580 556h160V396H580v160Zm-360 0h160V396H220v160Zm406 220 80-160H520V336h280v288l-76 152h-98Zm-360 0 80-160H160V336h280v288l-76 152h-98Zm34-300Zm360 0Z" />
              </svg>
            </p>
            <ul class="mb-0 flex justify-center">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
                  <path fill="currentColor"
                    d="m323 851 157-94 157 95-42-178 138-120-182-16-71-168-71 167-182 16 138 120-42 178Zm-90 125 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-355Z" />
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <!-- Container for demo purpose -->
  </div>
</div>

<!-- -->
<div class="bg-primary py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-emerald-500 leading-7">Transactions every 24 hours</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">44 million</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-emerald-500 leading-7">Assets under holding</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">$119 trillion</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-emerald-500 leading-7">New users annually</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">46,000</dd>
      </div>
    </dl>
  </div>
</div>

<!-- RATES ARE HERE -->
<div class="min-h-screen bg-primary text-gray-200">
  <!-- Pricing Tables -->
  <div class="container p-4 lg:p-8 mx-auto">
    <div class="text-center mt-4 lg:mt-8">
      <div class="text-sm text-emerald-600 uppercase font-semibold tracking-wider">
        Pricing Plans
      </div>
      <h2 class="text-3xl md:text-4xl font-bold mb-1">
        We have the best rates!
      </h2>
      <h3 class="text-lg md:text-xl text-gray-500 lg:w-1/2 lg:mx-auto mb-10">
        Amazing features are included with each one but feel free to explore the possibilities based on your
        requirements.
      </h3>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-8">
      <!-- First Plan -->
      <div class="rounded-3xl shadow-2xl  bg-secondary flex flex-col border-2 border-secondary">
        <div class="p-5 lg:p-6 text-center flex-grow">
          <span
            class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-primary text-emerald-500 rounded-full shadow-md mb-4">
            Most Popular
          </span>
          <div>
            <span class="text-3xl lg:text-5xl font-extrabold">$80</span>
            <span class="text-lg text-gray-600 font-semibold">/day</span>
          </div>
          <p class="text-gray-500">
            Cars that suit best for professional visits.
          </p>
        </div>
        <div class="p-5 lg:p-6 bg-primary space-y-5 lg:space-y-6 text-gray-700 rounded-b-3xl">
          <ul class="space-y-4 text-sm lg:text-base">
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>100</strong> Custom Projects</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>50</strong> Paying Clients</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>10GB</strong> SSD Storage</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>1TB</strong> High Speed Bandwidth</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>24/7</strong> Email Support</span>
            </li>
          </ul>
          <a class="px-4 py-3 text-white text-center uppercase font-semibold rounded bg-secondary hover:bg-emerald-900 block w-full"
            href="javascript:void(0)">
            Get Started
          </a>
        </div>
      </div>
      <!-- END First Plan -->

      <!-- Second Plan -->
      <div class="rounded-3xl shadow-2xl shadow-emerald-500/30 bg-secondary flex flex-col border-4 border-emerald-700">
        <div class="p-5 lg:p-6 text-center flex-grow">
          <span
            class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-primary text-emerald-500 rounded-full shadow-md mb-4">
            Most Popular
          </span>
          <div>
            <span class="text-3xl lg:text-5xl font-extrabold">$80</span>
            <span class="text-lg text-gray-600 font-semibold">/day</span>
          </div>
          <p class="text-gray-500">
            Cars that suit best for professional visits.
          </p>
        </div>
        <div class="p-5 lg:p-6 bg-primary space-y-5 lg:space-y-6 text-gray-700 rounded-b-3xl">
          <ul class="space-y-4 text-sm lg:text-base">
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>100</strong> Custom Projects</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>50</strong> Paying Clients</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>10GB</strong> SSD Storage</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>1TB</strong> High Speed Bandwidth</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>24/7</strong> Email Support</span>
            </li>
          </ul>
          <a class="px-4 py-3 text-white text-center uppercase font-semibold rounded bg-emerald-700 hover:bg-emerald-900 block w-full"
            href="javascript:void(0)">
            Get Started
          </a>
        </div>
      </div>
      <!-- END Second Plan -->

      <!-- Third Plan -->
      <div class="rounded-3xl shadow-2xl  bg-secondary flex flex-col border-2 border-secondary">
        <div class="p-5 lg:p-6 text-center flex-grow">
          <span
            class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-primary text-emerald-500 rounded-full shadow-md mb-4">
            Most Popular
          </span>
          <div>
            <span class="text-3xl lg:text-5xl font-extrabold">$80</span>
            <span class="text-lg text-gray-600 font-semibold">/day</span>
          </div>
          <p class="text-gray-500">
            Cars that suit best for professional visits.
          </p>
        </div>
        <div class="p-5 lg:p-6 bg-primary space-y-5 lg:space-y-6 text-gray-700 rounded-b-3xl">
          <ul class="space-y-4 text-sm lg:text-base">
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>100</strong> Custom Projects</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>50</strong> Paying Clients</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>10GB</strong> SSD Storage</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>1TB</strong> High Speed Bandwidth</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>24/7</strong> Email Support</span>
            </li>
          </ul>
          <a class="px-4 py-3 text-white text-center uppercase font-semibold rounded bg-secondary hover:bg-emerald-900 block w-full"
            href="javascript:void(0)">
            Get Started
          </a>
        </div>
      </div>
      <!-- END Third Plan -->
    </div>
  </div>
  <!-- END Pricing Tables -->
</div>