
<div id="about" class="flex bg-primary justify-center pt-8 scroll-mt-16">
  <div class="bg-primary w-4/5 grid grid-cols-2 gap-y-20">
    <div class="flex items-center max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-right">
        <h2 class="text-base font-semibold leading-7 text-emerald-600">Classic Collection</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Timeless Rides, Every Brand, Every
          Car.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-400">Explore the essence of driving excellence with our Classic
          Collection car rentals. Our fleet offers a curated selection from every top brand, ensuring a memorable ride
          in the latest state-of-the-art models. Your journey, your style.</p>
      </div>
    </div>
    <div class="w-full mx-auto max-w-7xl px-6 lg:px-8">
      <img class="shadow-2xl shadow-emerald-500/10 object-cover rounded-2xl" src="assets/feature/collection2.jpg" />
    </div>
    <div class="w-full mx-auto max-w-7xl px-6 lg:px-8">
      <img class="object-cover rounded-2xl" src="assets/feature/merc.jpg" />
    </div>
    <div class="flex items-center max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-left">
        <h2 class="text-base font-semibold leading-7 text-emerald-600">Seamless Business Travel Experiences</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Efficiency Redefined for the Modern
          Professional.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-400">Elevate your business travel with our tailored solutions. Enjoy
          a seamless experience with our executive fleet and personalized services designed to meet the demands of the
          modern professional.</p>
      </div>
    </div>
  </div>
</div>

<div id="fleet" class="bg-primary pt-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-emerald-600">You need vehicles? We got 'em.</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Discover Our Diverse Fleet.
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-400">Experience travel without the hassle. Our commitment to simplicity
        begins with a registration process that's as easy as it gets. At our outlets, our dedicated agents ensure a
        seamless start to your journey, making registration a breeze. Less paperwork, more exploration—your adventure
        begins with ease</p>
    </div>
    <!--  -->
    <div class="w-full mx-auto max-w-7xl px-6 lg:px-8 py-12">
      <img class="shadow-2xl shadow-emerald-500/10 object-cover rounded-2xl" src="assets/feature/fleet.jpg" />
    </div>
  </div>
</div>

<div id="testimonials" class="bg-primary pb-12 sm:py-32 scroll-smooth">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-emerald-600">Customer Stories & Rave Reviews</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">We Make Stories!
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-400">Join the chorus of delighted travelers who
        have experienced seamless adventures with our company.
        Read firsthand testimonials from satisfied customers who found comfort, reliability, and joy in every mile.
        Your journey begins with their stories—real experiences, real testimonials.</p>
    </div>
    <!--  -->
    <!-- Container for demo purpose -->
    <div class="container my-24 mx-auto md:px-6">
      <section class="mb-32 text-center">
        <div class="grid gap-x-6 md:grid-cols-3 lg:gap-x-12">
          <div class="mb-12 md:mb-0">
            <div class="mb-6 flex justify-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).jpg"
                class="w-40 rounded-full shadow-lg shadow-emerald-500/20" />
            </div>
            <h5 class="mb-1 text-xl font-bold text-gray-300">Maria Smantha</h5>
            <h6 class="mb-4 font-medium text-emerald-400">
              Marketing Specialist
            </h6>
            <p class="mb-4 text-gray-400">
              Our family road trip was a huge success, all thanks to
              <span class="italic text-emerald-400">WOW Rentals</span>
              The spacious SUV we rented provided comfort and safety for our little ones,
              and the online booking made it incredibly convenient.
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="inline-block w-6">
                <path fill="currentColor"
                  d="M580 556h160V396H580v160Zm-360 0h160V396H220v160Zm406 220 80-160H520V336h280v288l-76 152h-98Zm-360 0 80-160H160V336h280v288l-76 152h-98Zm34-300Zm360 0Z" />
              </svg>
            </p>
            <ul class="mb-0 flex justify-center">
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
              </li>
            </ul>
          </div>
          <div class="mb-12 md:mb-0">
            <div class="mb-6 flex justify-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).jpg"
                class="w-40 rounded-full shadow-lg shadow-emerald-500/20" />
            </div>
            <h5 class="mb-1 text-xl font-bold text-gray-300">Lisa Cudrow</h5>
            <h6 class="mb-4 font-medium text-emerald-400">
              Fashion Designer
            </h6>
            <p class="mb-4 text-gray-400">
              We appreciate <span class="italic text-emerald-400">WOW Rental's</span> commitment to sustainability.
              The eco-friendly options in the fleet align perfectly with our values.
              It's refreshing to see a car rental service that cares about the environment. Kudos!
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="inline-block w-6">
                <path fill="currentColor"
                  d="M580 556h160V396H580v160Zm-360 0h160V396H220v160Zm406 220 80-160H520V336h280v288l-76 152h-98Zm-360 0 80-160H160V336h280v288l-76 152h-98Zm34-300Zm360 0Z" />
              </svg>
            </p>
            <ul class="mb-0 flex justify-center">
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
            </ul>
          </div>
          <div class="mb-0">
            <div class="mb-6 flex justify-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).jpg"
                class="w-40 rounded-full shadow-lg shadow-emerald-500/20" />
            </div>
            <h5 class="mb-1 text-xl font-bold text-gray-300">Maria Smantha</h5>
            <h6 class="mb-4 font-medium text-emerald-400">
              Web Developer
            </h6>
            <p class="mb-4 text-gray-400">
              As a frequent traveler for business, I've tried various car rental services, and <span
                class="italic text-emerald-400">WOW Rentals</span> stands out.
              The selection of vehicles, coupled with the seamless booking process,
              makes it my go-to choice.
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="inline-block w-6">
                <path fill="currentColor"
                  d="M580 556h160V396H580v160Zm-360 0h160V396H220v160Zm406 220 80-160H520V336h280v288l-76 152h-98Zm-360 0 80-160H160V336h280v288l-76 152h-98Zm34-300Zm360 0Z" />
              </svg>
            </p>
            <ul class="mb-0 flex justify-center">
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
              <li>
                <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <!-- Container for demo purpose -->
  </div>
</div>

<!-- -->
<!-- <div class="bg-primary py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-emerald-500 leading-7">Transactions every 24 hours</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">44 million</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-emerald-500 leading-7">Assets under holding</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">$119 trillion</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-emerald-500 leading-7">New users annually</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">46,000</dd>
      </div>
    </dl>
  </div>
</div> -->
