<div class="flex bg-primary justify-center">
  <div class="bg-primary w-4/5 grid grid-cols-2 gap-y-20">
    <div class="flex items-center max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-right">
        <h2 class="text-base font-semibold leading-7 text-emerald-600">Classic Collection</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Timeless Rides, Every Brand, Every Car.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-400">Explore the essence of driving excellence with our Classic Collection car rentals. Our fleet offers a curated selection from every top brand, ensuring a memorable ride in the latest state-of-the-art models. Your journey, your style.</p>
      </div>
    </div>
    <div class="w-full mx-auto max-w-7xl px-6 lg:px-8">
      <img class = "shadow-2xl shadow-emerald-500/10 object-cover rounded-2xl" src="assets/feature/collection2.jpg"/>
    </div>
    <div class="w-full mx-auto max-w-7xl px-6 lg:px-8">
      <img class = "object-cover rounded-2xl" src="assets/feature/merc.jpg"/>
    </div>
    <div class="flex items-center max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-left">
        <h2 class="text-base font-semibold leading-7 text-emerald-600">Seamless Business Travel Experiences</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Efficiency Redefined for the Modern Professional.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-400">Elevate your business travel with our tailored solutions. Enjoy a seamless experience with our executive fleet and personalized services designed to meet the demands of the modern professional.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-emerald-600">Sign Up in Minutes.</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">Less Hassle. More Travel.
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-400">Experience travel without the hassle. Our commitment to simplicity begins with a registration process that's as easy as it gets. At our outlets, our dedicated agents ensure a seamless start to your journey, making registration a breeze. Less paperwork, more exploration—your adventure begins with ease</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
              </svg>
            </div>
            <img src="assets/feature/merc.jpg" />
            <p class="text-gray-300">Push to deploy</p>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Morbi viverra dui mi arcu sed. Tellus semper adipiscing
            suspendisse semper morbi. Odio urna massa nunc massa.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
              </svg>
            </div>
            SSL certificates
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Sit quis amet rutrum tellus ullamcorper ultricies libero
            dolor eget. Sem sodales gravida quam turpis enim lacus amet.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
              </svg>
            </div>
            Simple queues
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Quisque est vel vulputate cursus. Risus proin diam nunc
            commodo. Lobortis auctor congue commodo diam neque.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
              </svg>
            </div>
            Advanced security
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Arcu egestas dolor vel iaculis in ipsum mauris. Tincidunt
            mattis aliquet hac quis. Id hac maecenas ac donec pharetra eget.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<!-- -->
<div class="bg-primary py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-emerald-500 leading-7">Transactions every 24 hours</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">44 million</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-emerald-500 leading-7">Assets under holding</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">$119 trillion</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-emerald-500 leading-7">New users annually</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100 sm:text-5xl">46,000</dd>
      </div>
    </dl>
  </div>
</div>

<!-- Testimonials are Here -->
<section class=" bg-primary px-6 py-24 sm:py-32 lg:px-8">
  <div
    class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20">
  </div>
  <div
    class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center">
  </div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <img class="mx-auto h-12" src="https://tailwindui.com/img/logos/workcation-logo-indigo-600.svg" alt="">
    <figure class="mt-10">
      <blockquote class="text-center text-xl font-semibold leading-8 text-gray-300 sm:text-2xl sm:leading-9">
        <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias
          molestiae. Numquam corrupti in laborum sed rerum et corporis.”</p>
      </blockquote>
      <figcaption class="mt-10">
        <img class="mx-auto h-10 w-10 rounded-full"
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt="">
        <div class="mt-4 flex items-center justify-center space-x-3 text-base">
          <div class="font-semibold text-gray-900">Judith Black</div>
          <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
            <circle cx="1" cy="1" r="1" />
          </svg>
          <div class="text-gray-300">CEO of Workcation</div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>

<!-- RATES ARE HERE -->
<div class="min-h-screen bg-primary text-gray-200">
  <!-- Pricing Tables -->
  <div class="container p-4 lg:p-8 mx-auto">
    <div class="text-center mt-4 lg:mt-8">
      <div class="text-sm text-emerald-600 uppercase font-semibold tracking-wider">
        Pricing Plans
      </div>
      <h2 class="text-3xl md:text-4xl font-bold mb-1">
        We have the best rates!
      </h2>
      <h3 class="text-lg md:text-xl text-gray-500 lg:w-1/2 lg:mx-auto mb-10">
        Amazing features are included with each one but feel free to explore the possibilities based on your
        requirements.
      </h3>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-8">
      <!-- First Plan -->
      <div class="rounded-3xl shadow-2xl  bg-secondary flex flex-col border-2 border-secondary">
        <div class="p-5 lg:p-6 text-center flex-grow">
          <span
            class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-primary text-emerald-500 rounded-full shadow-md mb-4">
            Most Popular
          </span>
          <div>
            <span class="text-3xl lg:text-5xl font-extrabold">$80</span>
            <span class="text-lg text-gray-600 font-semibold">/day</span>
          </div>
          <p class="text-gray-500">
            Cars that suit best for professional visits.
          </p>
        </div>
        <div class="p-5 lg:p-6 bg-primary space-y-5 lg:space-y-6 text-gray-700 rounded-b-3xl">
          <ul class="space-y-4 text-sm lg:text-base">
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>100</strong> Custom Projects</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>50</strong> Paying Clients</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>10GB</strong> SSD Storage</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>1TB</strong> High Speed Bandwidth</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>24/7</strong> Email Support</span>
            </li>
          </ul>
          <a class="px-4 py-3 text-white text-center uppercase font-semibold rounded bg-secondary hover:bg-emerald-900 block w-full"
            href="javascript:void(0)">
            Get Started
          </a>
        </div>
      </div>
      <!-- END First Plan -->

      <!-- Second Plan -->
      <div class="rounded-3xl shadow-2xl shadow-emerald-500/30 bg-secondary flex flex-col border-4 border-emerald-700">
        <div class="p-5 lg:p-6 text-center flex-grow">
          <span
            class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-primary text-emerald-500 rounded-full shadow-md mb-4">
            Most Popular
          </span>
          <div>
            <span class="text-3xl lg:text-5xl font-extrabold">$80</span>
            <span class="text-lg text-gray-600 font-semibold">/day</span>
          </div>
          <p class="text-gray-500">
            Cars that suit best for professional visits.
          </p>
        </div>
        <div class="p-5 lg:p-6 bg-primary space-y-5 lg:space-y-6 text-gray-700 rounded-b-3xl">
          <ul class="space-y-4 text-sm lg:text-base">
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>100</strong> Custom Projects</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>50</strong> Paying Clients</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>10GB</strong> SSD Storage</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>1TB</strong> High Speed Bandwidth</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>24/7</strong> Email Support</span>
            </li>
          </ul>
          <a class="px-4 py-3 text-white text-center uppercase font-semibold rounded bg-emerald-700 hover:bg-emerald-900 block w-full"
            href="javascript:void(0)">
            Get Started
          </a>
        </div>
      </div>
      <!-- END Second Plan -->

      <!-- Third Plan -->
      <div class="rounded-3xl shadow-2xl  bg-secondary flex flex-col border-2 border-secondary">
        <div class="p-5 lg:p-6 text-center flex-grow">
          <span
            class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-primary text-emerald-500 rounded-full shadow-md mb-4">
            Most Popular
          </span>
          <div>
            <span class="text-3xl lg:text-5xl font-extrabold">$80</span>
            <span class="text-lg text-gray-600 font-semibold">/day</span>
          </div>
          <p class="text-gray-500">
            Cars that suit best for professional visits.
          </p>
        </div>
        <div class="p-5 lg:p-6 bg-primary space-y-5 lg:space-y-6 text-gray-700 rounded-b-3xl">
          <ul class="space-y-4 text-sm lg:text-base">
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>100</strong> Custom Projects</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>50</strong> Paying Clients</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>10GB</strong> SSD Storage</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>1TB</strong> High Speed Bandwidth</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M5 13l4 4L19 7"></path>
              </svg>
              <span><strong>24/7</strong> Email Support</span>
            </li>
          </ul>
          <a class="px-4 py-3 text-white text-center uppercase font-semibold rounded bg-secondary hover:bg-emerald-900 block w-full"
            href="javascript:void(0)">
            Get Started
          </a>
        </div>
      </div>
      <!-- END Third Plan -->
    </div>
  </div>
  <!-- END Pricing Tables -->
</div>