<div class="flex flex-col h-screen">
    <div class="flex flex-col justify-center items-center bg-primary text-white pt-32">
        <section class="pb-16 pt-8">
            <div class="container mx-auto text-center">
                <div class="w-full flex flex-col items-center justify-center">
                    <span class="w-[60%] "><img class="rounded-2xl mb-12" src="assets/WOW.png" /></span>
                </div>
                <div class="h-screen w-full">
                    <h1 class="text-6xl lg:text-9xl tracking-widest text-gray-300 font-bold mb-4">404</h1>
                    <p class="text-md uppercase tracking-wider font-bold text-gray-500 mb-8">Looks like you are lost!</p>
                    <div class="mx-2 mb-4 sm:mb-0">
                        <button class="bg-emerald-600 
                        disabled:bg-secondary
                        disabled:text-gray-600
                        text-gray-100 px-6 py-4 rounded-lg
                        uppercase text-sm tracking-wider font-bold
                        enabled:hover:shadow-lg
                        enabled:hover:-translate-y-1
                        enabled:hover:shadow-emerald-600/10
                        enabled:hover:text-gray-200 
                        enabled:hover:bg-emerald-500 transition-all duration-300 ease-in-out">
                        <a href="#" [routerLink]='["/"]'>
                        Explore Rides Here</a></button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
