<div class="bg-primary py-8">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-semibold mb-4 text-gray-200">Shopping Cart</h1>
    <div class="grid grid-cols-3 gap-8">
      <div class="col-span-2">
        <div class="bg-secondary rounded-lg shadow-md p-9 mb-4">
          <div>
            <!-- ////////////////////////////// INFO DETAILS //////////////////////////////////// -->
            <div class="billing">
              <h1 class="text-3xl font-medium text-gray-200">
                Billing Information
              </h1>
              <h2 class="text-sm text-emerald-300 mb-4">
                Your Profile Details are here.
              </h2>
              <div class="grid grid-cols-4 gap-x-8 gap-y-6 mb-8">
                <div class="w-full col-span-2">
                  <h2 class="text-sm px-2 font-bold text-gray-300">
                    Customer Name
                  </h2>
                  <h2 class="text-2xl px-2 text-gray-200">
                    Savinay Shukla
                  </h2>
                  <h2 class="text-sm px-2 text-gray-200">
                    savinayshukla&#64;outlook.com
                  </h2>
                </div>
                <div class="w-full col-span-2">
                  <h2 class="text-sm px-2 font-bold text-gray-300">
                    Billing Address
                  </h2>
                  <h2 class="text-2xl px-2 text-gray-200">
                    544 Bayridge Pkway
                  </h2>
                  <h2 class="text-sm px-2 text-gray-200">
                    Brooklyn, NY - 11209
                  </h2>
                </div>
                <div class="w-full col-span-2">
                  <h2 class="text-sm px-2 font-bold text-gray-300">
                    Primary Contact
                  </h2>
                  <h2 class="text-md px-2 text-gray-200">
                    +1 9178158731
                  </h2>
                </div>
                <div class="w-full col-span-2">
                  <h2 class="text-sm px-2 font-bold text-gray-300">
                    Employee Information
                  </h2>
                  <h2 class="text-md px-2 text-gray-200">
                    XYZ Corporation
                  </h2>
                  <h2 class="text-sm px-2 text-gray-200">
                    Reg No: 159102115
                  </h2>
                </div>
              </div>
            </div>
            <hr class="">
            <!-- ////////////////////////////// COUPON DETAILS //////////////////////////////////// -->
            <div class="billing mt-8">
              <h1 class="text-3xl font-bold text-gray-200">
                Offers and Promotions
              </h1>
              <h2 class="text-sm text-emerald-300 mb-4">
                Do you have any coupons from us?
              </h2>
              <div class="grid grid-cols-1 gap-x-8 gap-y-2 mb-8">
                <div class="w-1/2 col-span-2">
                  <h2 class="text-sm p-2 text-gray-200">
                    Coupon Code
                  </h2>
                  <input type="text" placeholder="Code" class="w-full px-4 py-3 rounded-lg font-medium bg-primary border border-gray-500 placeholder-gray-500 text-sm text-gray-200 focus:outline-none focus:border-emerald-400">
                  <button type="submit"
                    class="mt-4 shadow-2xl bg-emerald-600 text-white px-5 py-2 rounded-lg">Validate</button>
                  <i class="mx-4 fa-solid fa-circle-check fa-lg" style="color: #72da7e;"></i>
                </div>
              </div>
            </div>
            <hr>
            <!-- ////////////////////////////// CARD DETAILS //////////////////////////////////// -->
            <div class="billing mt-8">
              <h1 class="text-3xl font-medium text-gray-200">
                Payment Details
              </h1>
              <h2 class="text-sm text-gray-200 mb-4">
                Please revise your invoice details below
              </h2>
              <div class="grid grid-cols-4 gap-x-8 gap-y-2 mb-8">
                <div class="col-span-2">
                  <h2 class="text-sm p-2 text-gray-200">
                    Card No
                  </h2>
                  <input type="text" placeholder="Card/No"
                    class="w-full p-2 rounded-lg border border-gray-200 text-gray-200 focus:outline-none">
                </div>
                <div class="w-full col-span-2">
                  <h2 class="text-sm p-2 text-gray-200">
                    Name on Card
                  </h2>
                  <input type="text" placeholder="Name"
                    class="w-full p-2 rounded-lg border border-gray-200 text-gray-200 focus:outline-none">
                </div>
                <div class="w-full col-start-1 col-end-2">
                  <h2 class="text-sm p-2 text-gray-200">
                    Valid To
                  </h2>
                  <input type="month" placeholder="Email"
                    class="w-full p-2 rounded-lg border border-gray-200 text-gray-200 focus:outline-none">
                </div>
                <div class="w-full col-start-2 col-end-3">
                  <h2 class="text-sm p-2 text-gray-200">
                    CVV/CVC
                  </h2>
                  <input type="text" placeholder="CVV/CVC"
                    class="w-full p-2 rounded-lg border border-gray-200 text-gray-200 focus:outline-none">
                </div>
                <div class="w-full col-start-3 col-end-4">
                  <h2 class="text-sm p-2 text-gray-200">
                    Zipcode
                  </h2>
                  <input type="text" placeholder="Zipcode"
                    class="w-full p-2 rounded-lg border border-gray-200 text-gray-200 focus:outline-none">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="bg-secondary rounded-lg shadow-2xl shadow-emerald-500/30 border-4 border-emerald-700 p-6">
          <h2 class="text-lg font-semibold text-gray-200">Your Booking Summary</h2>
          <h2 class="text-sm mb-4 text-gray-200">Please revise this before proceeding.</h2>
          <hr class="my-2">
          <h2 class="text-lg text-emerald-500">{{selectedCarData.make}}</h2>
          <h2 class="text-2xl font-semibold text-gray-200">{{selectedCarData.model}}</h2>
          <h2 class="text-sm text-gray-200 mb-2">{{selectedCarData.type}}</h2>
          <span *ngFor="let tag of selectedCarData.tags" class="bg-teal-300 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">{{tag}}</span>
          <!-- <span class="bg-indigo-300 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Economic</span>
          <span class="bg-teal-300 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Popular</span> -->
          <hr class="my-4">
          <div class="flex justify-between mb-2">
            <span class="font-semibold text-gray-200">Pickup</span>
            <span class="text-sm text-gray-200">Some Location here</span>
          </div>
          <div class="flex justify-between mb-4">
            <span class="font-semibold text-gray-200">Dropoff</span>
            <span class="text-sm text-gray-200">Some Location here</span>
          </div>
          <div class="flex justify-between mb-4">
            <span>
              <div>
                <h1 class="font-semibold text-sm text-gray-200">Pickup Date</h1>
                <p class="text-sm text-gray-200">MM/DD/YYYY</p>
              </div>
            </span>
            <span>
              <div>
                <h1 class="font-semibold text-sm text-gray-200">Dropff Date</h1>
                <p class="text-sm text-gray-200">MM/DD/YYYY</p>
              </div>
            </span>
          </div>
          <div class="flex justify-between mb-2 text-gray-200">
            <span>Vehicle Rate</span>
            <span>${{selectedCarData.rate}}/day</span>
          </div>
          <div class="flex justify-between mb-2 text-gray-200">
            <span>Subtotal</span>
            <span>$19.99</span>
          </div>
          <div class="flex justify-between mb-2 text-gray-200">
            <span>Taxes</span>
            <span>$1.99</span>
          </div>
          <div class="flex justify-between mb-2 text-gray-200">
            <span>Discount</span>
            <span class="text-red-400">-$0.00</span>
          </div>
          <hr class="my-2">
          <div class="flex justify-between mb-2 text-gray-200">
            <span class="font-semibold">Estimated Total</span>
            <span class="font-semibold">$21.98</span>
          </div>
          <button (click)="openModal()"
            class="bg-emerald-500 text-white py-2 px-4 rounded-lg mt-4 w-full hover:bg-emerald-600">Confirm
            Order</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This is a popup-->
<div *ngIf="warning" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-950 bg-opacity-75 transition-opacity ease-in-out"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-primary text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div>
              <i class="fa-solid fa-bell fa-shake fa-lg" style="color: #f9d806;"></i>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-xl leading-6 text-gray-200" id="modal-title">Let's Check Again?</h3>
              <div class="mt-2">
                <div class="flex justify-between mb-4 mt-4">
                  <span>
                    <div>
                      <h1 class="font-semibold text-sm text-gray-200">Pickup Location</h1>
                      <p class="text-sm text-gray-200">MM/DD/YYYY</p>
                    </div>
                  </span>
                  <span>
                    <div>
                      <h1 class="font-semibold text-sm text-gray-200">Dropff Location</h1>
                      <p class="text-sm text-gray-200 text-center">MM/DD/YYYY</p>
                    </div>
                  </span>
                </div>
                <div class="flex justify-between mb-2 text-gray-200">
                  <span>Vehicle Rate</span>
                  <span>$19.99/day</span>
                </div>
                <div class="flex justify-between mb-2 text-gray-200">
                  <span>Estimated Total</span>
                  <span class="font-semibold">$21.98</span>
                </div>
                <div class="mt-4 flex justify-center items-center">
                  <div>
                    <p class="text-sm text-gray-500">Are you sure you want to continue with this purchase? This action cannot be undone.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-secondary px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button (click) = "closeModal()" type="button"
            class="inline-flex w-full justify-center rounded-md bg-emerald-600 px-3 py-2 text-sm font-medium text-white shadow-sm hover:bg-emerald-800 sm:ml-3 sm:w-auto">Let's Go!</button>
          <button (click) = "closeModal()" type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md bg-primary px-3 py-2 text-sm font-medium text-gray-200 shadow-sm ring-1 ring-inset ring-emerald-500 hover:bg-secondary sm:mt-0 sm:w-auto">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>